.hex-team {
position: relative;
background-color: var(--tertiary-color);
height:193px;
width:  213px;
clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
} 

.hex-team img{
    width:100%;
}


.invisible {
    visibility: hidden;
}



.mt-5 {
    margin-top:5rem!important;
}

.mb-5{
    margin-bottom:5rem!important;
}

.container .colonne {
    position: relative;
    width: 440px;
    height: 400px;
   
}




