
p {
    font-family: var(--secondary-font);
    font-size: 1.25rem;
}

.hexaline {
    width: 100%;
    height: 100%;
    position: relative;
}

.carte {
    position: relative;
    width:426px;
    height:386px;
   clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.carte__inner {
    width: 100%;
    height: 100%;
    transition : transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative ;

}

.carte__inner.is-flipped {
    transform: rotateY(180deg);
}

.carte__face {
   position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow:hidden;
}

.carte__face img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.carte__face--back{
    transform: rotateY(180deg);
}

.carte__content {
    
    width:70%;
    height:100%; 
}
.carte__content p {
    text-align:center !important;
    font-size:1rem;
}

.carte__header {
    position: relative;
    padding: 10px 10px 15px;
    text-align: center;
}

.busybees {
    display: flex;
    flex-direction: row;
   
}

.mb {
    margin-bottom:15rem;
}

.mt {
    margin-top: 15rem;
}

@media (max-width:64rem) {

.busybees {
    display: flex;
    flex-direction : column;
    justify-content: flex-start;
}

.mb {
    margin-bottom:2rem;
    margin-top:24rem;
}

.mt {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carte {
    width: 50%;
    margin: auto;
   margin-top: 3rem;
}

.deco {
    display: none;
}
}

@media (max-width:38rem) {

    .busybees {
        display: flex;
        flex-direction : column;
        justify-content: flex-start;
    }
    
    .mb {
        margin-bottom:2rem;
        margin-top:2rem;
    }
    
    .mt {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .carte {
        width: 100%;
    }
    
    .deco {
        display: none;
    }
}