.parallax {
  background-image: url("../images/expertise/parallax1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Source : https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/#top-of-site */

.main-expertise {
  display: flex;
  --s: 340px; 
  --m: 4px;
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
  max-width: 100%;
}

.container-expertise {
  font-size: 0;
}

.container-expertise div {
  max-width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: #fafafa;
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
}

.container-expertise::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px),
      #000 0 var(--f));
}


@media (max-width:75rem) {
body, html {
  max-width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}

.container-expertise {
  font-size: 0;
  margin: 0 auto;
}

  .container-expertise div {
    margin: 10px auto;
    max-height: 9%;
    display: block;
  }

  .fa-solid {
    font-size: 1.8rem;
  }


  .parallax {
    width: 100vw;
    margin: 0; 
    padding: 0; 
    background-size: cover;
  }

  bg-light {
    margin: 0 auto;
  }

  .p-5 {
    padding-left: 0!important;
    padding-right: 0!important;
    padding-bottom: 0!important;
  }

  .pb-5 {
    padding-bottom: 0!important;
  }

}