.parallax {
  background-image: url("../images/expertise/parallax1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Source : https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/#top-of-site */

.main-expertise {
  display: flex;
  --s: 20rem; /* size  */
  --m: .5rem; /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - .5rem);
}

.container-expertise {
  font-size: 0;
  /*disable white space between inline block element */
}

.container-expertise div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: #fafafa;
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
}

.container-expertise::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px),
      #000 0 var(--f));
}