

/* Popup */

.popup {
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    backdrop-filter: grayscale(1) blur(5px);
    font-family: var(--primary-font);
  }

