
.conteneur-projets{
  height: 31rem;
}

/* Popup */

.popup {
    width: 90%;
    height: 30rem;
    position: absolute;
    top: 18rem;
    z-index: 99;
    background-color: #00ADB5;
    border-radius: 2rem;
    display: none;
  }

