*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Consola Mono Book';
    font-style: normal;
    font-weight: normal;
    src: local('Consola Mono Book'), url('ConsolaMono-Book.woff') format('woff');
}

@font-face {
    font-family: 'Consola Mono Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Consola Mono Bold'), url('ConsolaMono-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Nonchalance Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Nonchalance Regular'), url('Nonchalance Regular.woff') format('woff');
}

@font-face {
    font-family: 'Nonchalance Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Nonchalance Medium'), url('Nonchalance Medium.woff') format('woff');
}

@font-face {
    font-family: 'Nonchalance Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Nonchalance Bold'), url('Nonchalance Bold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Bold'), url('Poppins-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Regular')
    url('/assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('/assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --primary-color: #FFBB1C;
    --secondary-color: #00ADB5;
    --tertiary-color: #EF566A;
    --black-color: #2B2B2B;
    --white-color: #fafafa;
    --primary-font: 'Consola Mono Bold', Arial, sans-serif;
    --secondary-font: 'Poppins', Arial, sans-serif;
    --tertiary-font: 'Nonchalance Bold', sans-serif;
}
/*
.text-primary {
    color: var(--primary-color)!important;
}
.text-secondary{
    color: var(--secondary-color)!important;
}
.text-tertiary {
    color: var(--tertiary-color)!important;
}
.bg-dark{
   background-color:#2B2B2B!important;
}
.bg-white {
    background-color:#fafafa!important;
} 
/*************COMMUNS*************/
/*éléments communs*/
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
    height: 100%;
    animation: fadein 3s; 
}
    @keyframes fadein {
        0% {
            opacity:0;
        }
       25%{
            opacity:0.35;
        }
       50% {
            opacity:0.5;
        }
        75% {
            opacity:0.75;
        }
        100% {
            opacity:1;
        }
    }

h1, h2 {
    font-family: var(--primary-font);
}


/*footer*/ 

.footer-text {
    font-family: var(--tertiary-font);
    font-size: 1.5rem;
}

.hex-button{
    animation : zoomout 2s;
    transition: ease-in;
}
@keyframes zoomout{
    0% {
      transform: scale(30);
    }

    100% {
        transform: scale(0.5);
    }
  }


/*l hexagone central et retour menu */ 
/*positionnement abeille*/ 

.main-hex img {
    width: 100%;
    position : relative;
    bottom: 2rem;
}

.main-hex {
    position: relative;
    width:94.68px; 
    height: 164px;
    margin-bottom:0.5rem;
    font-family: var(--tertiary-font);
    padding-top:4.5rem;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
    filter : drop-shadow(5px 5px 5px rgba(0,0,0,0.6));

}

.main-hex.blue {
    background-color: var(--secondary-color);
    color: var(--black-color);
}

.main-hex:before,
.main-hex:after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    border-top: 82px solid transparent; 
    border-bottom: 82px solid transparent;
  }

.main-hex.blue:before {
    right: 100%;
    border-right:  47.34px  solid var(--secondary-color);
}

.main-hex.blue:after {
    left: 100%;
    width: 0;
    border-left: 47.34px   solid var(--secondary-color);
}

/*le menu hexagone*/

.hex{
    position: relative;
    width:180px; 
    height: 300px;
    margin-bottom:0.5rem;
    font-family: var(--tertiary-font);
    padding-top:4.5rem;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
    filter : drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}

.hex-gap{
    column-gap: 6rem;
}


/*positionnement du texte des liens au premier plan*/

span.link {
    position: absolute;
    width:150%;
    margin-left:-2.75rem;
    margin-top:3rem;
    font-family: var(--tertiary-font);
    font-size: 2rem;
    z-index:10;
}

/*alignement des liens ds les hexagones*/ 

.nav-link{
    width:100%;
    display:block;
    text-align: center;
    color: inherit;
}


/*comportement au survol*/ 

.hex-nav:hover{
    transform: scale(120%);
    transition: all 1s ease-out;
    z-index:99;
}

.nav-link:hover{
    color: var(--tertiary-color);
  }
  

/*definition de la couleur et forme des hexagones*/

.hex.yellow {
    background-color: var(--primary-color);
    color: var(--black-color);
}

.hex.blue {
    background-color: var(--secondary-color);
    color: var(--black-color);
}

.hex.pink {
    background-color: var(--tertiary-color);
}

.hex.black{
    background-color: var(--black-color);
    color: var(--primary-color);
}

.hex:before,
.hex:after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    border-top: 150px solid transparent; 
    border-bottom: 150px solid transparent;
  }

.hex.yellow:before {
    right: 100%;
    border-right: 90px solid var(--primary-color); 
    z-index: 1;
}

.hex.yellow:after {
    left: 100%;
    width: 0;
    border-left: 90px solid  var(--primary-color);
}
 
.hex.blue:before {
    right: 100%;
    border-right:  90px  solid var(--secondary-color);
}

.hex.blue:after {
    left: 100%;
    width: 0;
    border-left: 90px   solid var(--secondary-color);
}

.hex.pink:before {
    right: 100%;
    border-right:  90px  solid var(--tertiary-color);
}

.hex.pink:after {
    left: 100%;
    width: 0;
    border-left:  90px solid var(--tertiary-color);
}

.hex.black:before {
    right: 100%;
    border-right: 90px  solid var(--black-color);
}

.hex.black:after {
    left: 100%;
    width: 0;
    border-left: 90px solid var(--black-color);
}


.parallax {
    height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url("/assets/images/bees1.jpg");
}

.parallax2 {
    background-image: url("/assets/images/bees2.jpg");
}

.parallax3 {
    background-image: url("/assets/images/bees3.jpg");
}

.parallax4 {
    background-image: url("/assets/images/bees4.jpg");
}
