*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Consola Mono Book';
    font-style: normal;
    font-weight: normal;
    src: local('Consola Mono Book'), url('ConsolaMono-Book.woff') format('woff');
    }
    
@font-face {
    font-family: 'Consola Mono Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Consola Mono Bold'), url('ConsolaMono-Bold.woff') format('woff');
    }

@font-face {
    font-family: 'Nonchalance Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Nonchalance Regular'), url('Nonchalance Regular.woff') format('woff');
}
@font-face {
    font-family: 'Nonchalance Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Nonchalance Medium'), url('Nonchalance Medium.woff') format('woff');
}
@font-face {
    font-family: 'Nonchalance Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Nonchalance Bold'), url('Nonchalance Bold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Bold'), url('Poppins-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('Poppins-Regular.woff') format('woff');
}
    
:root {
    --primary-color: #FFBB1C;
    --secondary-color: #00ADB5;
    --tertiary-color: #EF566A;
    --black-color: #2B2B2B;
    --white-color: #fafafa;
  
    --primary-font: 'Sniglet', Arial, sans-serif;
    --secondary-font: 'Poppins', Arial, sans-serif;
    --tertiary-font: 'Nonchalance Bold', sans-serif;
                                                
  }


/*************COMMUNS*************/
/*éléments communs*/
html {
  scroll-behavior: smooth;
}
.hex.generic{
    position: relative;
    width: 94.68px;
    height: 164px;
    margin: 40px auto;
    line-height: 36px;
    font-family: var(--tertiary-font);
    font-size: 1rem;
   
    color: white;
    text-align: center;
    padding-top:3.75rem;
   

  }

/*definition de la couleur des hexagones*/
.hex.generic.yellow {
    background-color: var(--primary-color);
    color: var(--black-color);
    
}
.hex.generic.blue {

    background-color: var(--secondary-color);
    color: var(--black-color);
}
.hex.generic.pink {
    background-color: var(--tertiary-color);
}

.hex.generic.black{
    background-color: var(--black-color);
    color: var(--primary-color);
}

.hex.generic:before,
.hex.generic:after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    border-top: 82px solid transparent;
    border-bottom: 82px solid transparent;
    
  }

.hex.generic.yellow:before {
    right: 100%;
    border-right: 47.34px solid var(--primary-color);
}
.hex.generic.yellow:after {
    left: 100%;
    width: 0;
    border-left: 47.34px solid var(--primary-color);
}
 
.hex.generic.blue:before {
    right: 100%;
    border-right: 47.34px solid var(--secondary-color);
}
.hex.generic.blue:after {
    left: 100%;
    width: 0;
    border-left: 47.34px solid var(--secondary-color);
}

.hex.generic.pink:before {
    right: 100%;
    border-right: 47.34px solid var(--tertiary-color);
}
.hex.generic.pink:after {
    left: 100%;
    width: 0;
    border-left: 47.34px solid var(--tertiary-color);
}

.hex.generic.black:before {
    right: 100%;
    border-right: 47.34px solid var(--black-color);
}

.hex.generic.black:after {
    left: 100%;
    width: 0;
    border-left: 47.34px solid var(--black-color);
}


.hex.generic.tiled {
    float: left;
    margin-bottom: -2.25rem;
    margin-right:3.25rem;
}

.hex-row.tiled {
    clear: left;
}

.hex-row.tiled.top{
    display: flex; 
    flex-direction: column;
}
  

.hex-row.tiled.mid{
    display: flex; 
    flex-direction: column;
}
  
.hex-row.tiled.bottom{
    display: flex; 
    flex-direction: column;
}

.hex-container {
    display: flex;    
    flex-direction: row;
    height: 100vh;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
}
 
.down {
    margin-bottom : -50px;
}

  
  