*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Consola Mono Book';
    font-style: normal;
    font-weight: normal;
    src: local('Consola Mono Book'), url('ConsolaMono-Book.woff') format('woff');
}

@font-face {
    font-family: 'Consola Mono Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Consola Mono Bold'), url('ConsolaMono-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Nonchalance Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Nonchalance Regular'), url('Nonchalance Regular.woff') format('woff');
}

@font-face {
    font-family: 'Nonchalance Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Nonchalance Medium'), url('Nonchalance Medium.woff') format('woff');
}

@font-face {
    font-family: 'Nonchalance Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Nonchalance Bold'), url('Nonchalance Bold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Bold'), url('Poppins-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('Poppins-Regular.woff') format('woff');
}

:root {
    --primary-color: #FFBB1C;
    --secondary-color: #00ADB5;
    --tertiary-color: #EF566A;
    --black-color: #2B2B2B;
    --white-color: #fafafa;

    --primary-font: 'Sniglet', Arial, sans-serif;
    --secondary-font: 'Poppins', Arial, sans-serif;
    --tertiary-font: 'Nonchalance', sans-serif;

}


/*************COMMUNS*************/
/*éléments communs*/
html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
}

