.carousel {
    border: 2px solid yellow;
    height: 45vh;
   
}

.carousel-inner {
   
    position: relative;
   
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    border : 2px solid blue;
}



.carousel-item img{

width:50%;
height:50%;
object-fit:cover;
}


.carousel-item p {
    text-align:justify;

   margin: auto;
    width:70%;
    height:100%; 
}