.carousel {
    height: 45vh;
}

.carousel-inner { 
    position: relative;
    width: 100%;
    height:100%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); 
}


.carousel-item p {
    width:60%;
    height:100%; 
}
.ad-container {
    height: 100vh;
    width: 50vw;
 
   
}
.ad-card {
height:45%;
width:48%;

}

.ad-card p {
    overflow: scroll;
}



.fa-star {
    font-size:2rem;
}

.rating-5  {
    color: var(--primary-color);

}

i:nth-child(1),
i:nth-child(2),
i:nth-child(3),
i:nth-child(4).rating-4 {
    color: var(--primary-color);
}