.carousel {
    height: 45vh;
}

.carousel-inner { 
    position: relative;
    width: 100%;
    height:100%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); 
}


.carousel-item p {
    width:60%;
    height:100%; 
}
.ad-container {
    height: 100vh;
    width: 50vw;
 
   
}
.ad-card {
height:45%;
width:48%;

}